<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         defaultTestSuite="new"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="old">
            <file>testing/AprioriTest.php</file>
            <file>testing/CalculateHeroFrequencyTest.php</file>
            <file>testing/CountHeroCombinationTest.php</file>
        </testsuite>
        <testsuite name="new">
            <file>testing/Apriori2Test.php</file>
            <file>testing/FilterFrequentItemSetTest.php</file>
            <file>testing/GetCandidateSetTest.php</file>
            <file>testing/GetFirstFrequentItemSetTest.php</file>
            <file>testing/GetFrequentItemSetTest.php</file>
            <file>testing/PruneLastCandidateSetTest.php</file>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-clover" target="testing/reports/logs/clover.xml"/>
        <log type="coverage-html" target="testing/reports/coverage" lowUpperBound="35" highLowerBound="70" />
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <!-- <file>functions.php</file> -->
            <file>apriori.php</file>
            <exclude>
                <directory>ExternalLibraries</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
